body {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  background-color: #272f2f;
  margin-left: 380px;
}
a {
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}
p, LI, UL {
  color: white;
  text-align: left;
}
P {
  color: white;
  text-align: left;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}

