body {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  background-color: #272f2f;
  margin-left: 380px;
}
a {
  background-color: inherit;
  color: inherit;
  padding: 1em 1.5em;
  text-decoration: none;
}

a:hover {
  background-color: #404040;
}

a:active {
  background-color: #686868;
}

a:visited {
  background-color: inherit;
  color: grey;
}
p, LI, UL {
  color: white;
  text-align: left;
}
P {
  color: white;
  text-align: left;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.header {
  text-align: center;
  background-image: url("PSX_20210414_111706.jpg");
  color: white;
  font-size: 30px;
}

  

