body {
  margin: 0;
  background: url(background.jpeg) repeat 0 0;
  margin-left: 380px;
}
a {
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}
p {
  color: white;
  text-align: left;
}
P {
  color: white;
  text-align: left;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}

