body {
  margin: 0;
  margin-left: 380px;
  font-family: courier, arial, helvetica;
  background-color: #333333;
}
#grad {
  background-image: linear-gradient(red, yellow);
}
a, div {
  background-color: inherit;
  color: inherit;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
}

a:active {
  background-color: inherit;
  color: gray;
}

a:hover {
  background-color: #686868;
}


p{
  color: white;
  text-align: left;
}
UL, LI, b, i {
  color: white;
  text-align: center;
P {
  color: white;
  text-align: left;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.header {
  text-align: justify;
  text-align-last: auto;
  background-image: url("PSX_20210414_111706.jpg");
  color: white;
  font-size: 30px;
}
/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{
    top: 1px;
}
  
#header-image-menu img{
    width: 1024px;
    margin: none;
    padding: none;
    height: 768px;
    text-align: left;
    text-align-last: auto;
}
  
#image-text{
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    transform: translate(-%30, %0);
    color: grey;
    text-align: center;
}

  

